@CHARSET "ISO-8859-1";
body{
	
	font-family:Arial, Helvetica, Geneva, sans-serif;
	font-size:15px;
	background-size: cover;
	background-repeat: no-repeat;
}

.error{
	
	color:red;
}

.success{
	color:green;
}

.table_background{
	background-color:#b3ffff;
}
#find {
	
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 28px;
    margin-top:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}